<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ch.vorburger.vaadin.designer.samplescreen"
            class="ch.vorburger.vaadin.designer.samplescreen.SamplescreenPackage"
            genModel="src/ch/vorburger/vaadin/designer/samplescreen/Screen.xcore"/>
   </extension>

</plugin>
