<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="MUI" sequenceNumber="11">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="${project_loc:/targetplatform}/bundles" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.birt.osgi.runtime.sdk.feature.group" version="4.2.0.v20120611-793-87iDWCFP8ZDTAN72TPI4jrXA"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.5.6.v20120610-1946"/>
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.4.0.v20120613-r11652"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.0.v20120608-0554"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.8.0.v20120608-0554"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20120522-1841-7M7fA78g5_y-eMftHxcd13UXuq5J"/>
<unit id="org.eclipse.gyrex.features.sdk.withoutdeps.feature.group" version="1.0.0.v20120423-0945-7H--F7OHS728tgaOp5ETz0-EA6Wu"/>
<unit id="org.eclipse.jetty.sdk.feature.group" version="8.1.3.201206060641"/>
<unit id="org.eclipse.objectteams.otequinox.feature.group" version="2.1.0.201206090452"/>
<unit id="org.eclipse.rap.runtime.requirements.feature.group" version="1.5.0.20120612-1510"/>
<unit id="org.eclipse.rap.runtime.feature.group" version="1.5.0.20120612-1510"/>
<unit id="org.eclipse.rtp.package.feature.group" version="1.0.0.v20120613-2107"/>
<unit id="org.eclipse.scout.rt.rap.feature.feature.group" version="3.8.0.201206130843"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.3.0.v201206120633"/>
<unit id="org.eclipse.gmf.examples.runtime.feature.group" version="1.6.0.v20120517-1809-7B7L1F8NcJTcK4Tw9UEU4"/>
<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.9.0.v20120613-0805"/>
<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.0.0.RC4a"/>
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.9.0.v20120613-0805"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.3.0.v201206110920"/>
<unit id="org.eclipse.emf.facet.sdk.feature.feature.group" version="0.2.0.v201206120903"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.6.0.v20120517-1809-67R09E9QuFflXswwIO_z0E3d4k_X"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.4.0.201206112118"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.1.0.v20120612-1844"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="3.0.0.RC4a"/>
<unit id="org.eclipse.amp.all.feature.group" version="0.9.0.v20120528-0244"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.3.0.v201206120758"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.6.0.v20120328-0001-67T-96SGR75UNqZNTdeQnghI6uFA"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.2.1.v201206110920"/>
<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.9.0.v201206131215"/>
<unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.9.0.v20120613-0805"/>
<unit id="org.eclipse.emf.eef.codegen.ecore-feature.feature.group" version="1.1.1.201206051542"/>
<unit id="org.eclipse.emf.transaction.examples.feature.group" version="1.6.0.v20120328-0001-47D8Z8yGE5PtKEQUIIOX6EAL3"/>
<unit id="org.eclipse.emf.compare.feature.group" version="1.3.1.v20120605-0748"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="4.0.0.v20120604-0919"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="1.2.1.v201206110941"/>
<unit id="org.eclipse.gmf.feature.group" version="1.6.0.v20120517-1809-7d9X7FFYnmMJUVOKcqPSgIiK281V"/>
<unit id="org.eclipse.ocl.examples.feature.group" version="3.2.0.v20120613-0850"/>
<unit id="org.eclipse.acceleo.sdk.feature.group" version="3.3.0.v20120529-1042"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.8.0.v20120319-0555"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.8.0.201206112118"/>
<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.9.0.v20120613-0805"/>
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="1.3.1.v20120605-0748"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.1.0.v20120612-0600"/>
<unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.9.0.v20120613-0805"/>
<unit id="org.eclipse.emf.oda.sdk.feature.group" version="1.1.0.v20120608-0554"/>
<unit id="org.eclipse.emf.query.examples.feature.group" version="1.6.0.v20120425-2310-679-AkF78_8FEV7MOG7"/>
<unit id="org.eclipse.emf.validation.examples.feature.group" version="1.6.0.v20120328-0001-67I-BgJ9CT9IJc8PRNL"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.6.0.v20120328-0001-777Z-9A_WsZmcPluNecyPkvrPKlH"/>
<unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.1.0.v20120612-1514"/>
<unit id="org.eclipse.gmf.tooling.feature.group" version="3.0.0.RC4a"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.0.0.v20120612-0950"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.9.0.v20120613-0805"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.6.0.v20120328-0001-67T-95GFz05DNIrNLOSNK_NPj507"/>
<unit id="org.eclipse.egf.sdk.feature.group" version="1.0.0.v20120528-1550"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="1.1.0.201205150811"/>
<unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.1.1.201206051542"/>
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.3.0.v201205241358"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.6.0.v20120327-2213-47F08xGD6FxMBN7CJFV3CIKK9t84"/>
<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.1.0.v201206041614-7U7A-CL5V0ETk4K7wL253-yIi90n"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="4.0.0.v20120613-0850"/>
<unit id="org.eclipse.emf.cdo.dawn.sdk.feature.group" version="2.0.0.v20120525-0730"/>
<unit id="org.eclipse.amalgam.discovery.feature.group" version="1.2.0.201206050806"/>
<unit id="org.eclipse.modisco.sdk.feature.feature.group" version="0.10.0.v201206130817"/>
<unit id="org.eclipse.gef.examples.feature.group" version="3.8.0.201206112118"/>
<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.3.7.v201203021447-46DF9oB5896E6J7G7E3357"/>
<unit id="org.eclipse.php.sdk.feature.group" version="3.0.0.v201201110400-77-184_2BEICRgM_fMVcz0M4Va9O"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.4.0.v201111022313-7F7DFSgC25TrkWsplelWwGPu4Ajn5UiEiyuqxZp4"/>
<unit id="org.eclipse.libra.framework.feature.feature.group" version="0.2.0.201206060754"/>
<unit id="org.eclipse.jpt.jaxb.eclipselink.feature.feature.group" version="1.3.0.v201203150000-777B-BgJ9EI9UD_8z0AA763"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.0.v20120503_1042-7A77FHr9xFcC2CFLZBCJMHLg7D64"/>
<unit id="org.eclipse.jst.ws.jaxws.dom.feature.feature.group" version="1.0.200.v201109042201-5-F8NAkF7BB7U8PEK8K"/>
<unit id="org.eclipse.jpt.dbws.eclipselink.feature.feature.group" version="1.1.100.v201203150000-797EBiCcNBHKCZEfAwHIFD7"/>
<unit id="org.eclipse.rap.tools.feature.group" version="1.5.0.20120613-1425"/>
<unit id="org.eclipse.jpt.jpadiagrameditor.feature.feature.group" version="1.1.0.v201205150001-40Bg9oB58A6CAO5555"/>
<unit id="org.eclipse.jst.ws.jaxws.feature.feature.group" version="1.2.0.v201204151854-7E7AF70F8NcJS_KqT5TpXq"/>
<unit id="org.eclipse.libra.warproducts.feature.feature.group" version="0.2.0.201206060754"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.4.0.v201108231500-377DG8s73543J5H6D66"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.100.v20110810_1722-777HFL5CcNBDmBfJVFHJD6"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.4.0.v201202292300-377F8N8s735555393B7B"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.101.v20111212_1019-51F8OAkF79S8JCTA597K"/>
<unit id="org.eclipse.jpt.jaxb.feature.feature.group" version="1.2.0.v201203150000-56A7AkF7BF7NAP7777"/>
<unit id="org.eclipse.jpt.jpa.feature.feature.group" version="3.2.0.v201203150000-7S7K8aFBBoPaoQNZZRKUVFD7"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.4.0.v201111090639-7H7DFeHFC7sRemSZgYbe4"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.4.0.v201203141800-7O7MFsGEMkBJz0rWbgfTLwn-4WKIocbP_pkka3Il"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.100.v201111021744-7T7ZFUaFIqUoJuvaKoCpQDKaGVPc"/>
<unit id="org.eclipse.libra.framework.editor.feature.feature.group" version="0.2.0.201206060754"/>
<unit id="org.eclipse.jst.jsf.apache.trinidad.tagsupport.feature.feature.group" version="2.2.200.v201105111126-20A77w312215172822"/>
<unit id="org.eclipse.jsf.feature.feature.group" version="3.4.0.v201111022140-7E7JFBZF9JgLWZLz0U0QoZm3357"/>
<unit id="org.eclipse.jst.ws.cxf.feature.feature.group" version="1.1.0.v201201312103-7H79FHxFAKlbotH5e9l3vAA6MBG"/>
<unit id="org.eclipse.libra.facet.feature.feature.group" version="0.2.0.201206060754"/>
<unit id="org.eclipse.jpt.jpa.eclipselink.feature.feature.group" version="3.2.0.v201203150000-7M7J4F7RZHQYIwMz0JyOWFD7"/>
<unit id="org.eclipse.jst.ws.axis2tools.feature.feature.group" version="1.1.200.v201103022333-78-FF0DZRDKDDePSKwHj"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.4.0.v201111021744-7H7GFeBDxumUpsl5liePhK3loz-m62J4rSz011R1"/>
<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.200.v20120517_1442-20A77w31231628a2553"/>
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.4.0.v201107072300-7b7JIM0FSK2WM1PS9Ar7AKUz0TrWn"/>
<repository location="http://download.eclipse.org/releases/juno/"/>
</location>
</locations>
</target>
